.loginForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px black;
}
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px black;
}
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginForm {
  width: 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
